Ye design done Hy color theme black, pink and white ye Jo first page Hy jis Mai introduction likhna Hy uska background black Baki 
design pink or white color ka font Baki Jo pages Hy jis Mai project mention karny Hy uska background white or design pink font 
black.