@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow-pink {
  text-shadow: 5px 5px 1px rgba(231, 0, 125, 1);
}
.text-pink-border {
  -webkit-text-stroke: 2px #E7007D; /* Stroke width and color */
  color: black; /* Optional: Makes the text color invisible to emphasize the border */
}
.text-shadow-white {
  text-shadow: 5px 5px 1px rgba(255, 255, 255, 1);
}
.text-white-border {
  -webkit-text-stroke: 2px white; /* Stroke width and color */
  color: black; /* Optional: Makes the text color invisible to emphasize the border */
}